
.nav-link, .navbar-brand{
    color:#240004;
    font-family: 'Times New Roman', Times, serif;
    align-content: space-between;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
}
.navbar-gradient {
    background: linear-gradient(75deg, rgba(36,0,4,1) 6%, rgba(254,207,206,1) 46%, rgba(110,3,3,1) 79%);
}  
.navbar-nav{
    align-content: space-between;
    align-items: flex-end;
    justify-content: space-between;
}

.container{
    align-content: space-between;
    justify-content: space-around;
}
.contador{
    margin-left: 4px;
}